#root {
  margin: 0 auto;
}




/* for quiz progress bar */
.transition-width {
  transition: width 0.5s ease-in-out; /* Adjust the duration and easing function as needed */
}



/* for quiz questions */
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutToTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.slide-in {
  opacity: 0;
  animation: slideInFromBottom 0.5s ease forwards;
}

.slide-out {
  animation: slideOutToTop 0.5s ease forwards;
}