
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@tailwind base;

:root {
  --primary: #0d7490;
  --secondary: rgb(183, 192, 210);
}

* {
  font-family: 'Noto Sans', sans-serif;
  scrollbar-color: var(--primary) var(--secondary);
}


*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;





body {
  overflow-y: auto;
}






.formfields {
  @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light;
}

